.SponsorsSlide{
    padding-top: 20px;
    background-color: aliceblue;
    height: 90vh;
    display: flex;
    flex-direction: column;
 }

/* Media Queries */
/* - Desktops */
@media (min-width: 1281px) {

    .SponsorsSlide-TextBox-Title{
        font-size: 30pt;
        font-weight: 500;
    }

    .SponsorsSlide-SponsorBox{
        display: flex;
    }

    .card{
        margin: 20px;
        max-width: 400px;
    }
    
}

/* - Laptops */
@media (min-width: 1025px) and (max-width: 1280px) {
    
    
    .SponsorsSlide-TextBox-Title{
        font-size: 30pt;
        font-weight: 500;

    }

    .SponsorsSlide-SponsorBox{
        display: flex;
    }

    .card{
        margin: 20px;
        max-width: 400px;
    }

}

/* - Phones */
@media (min-width: 320px) and (max-width: 480px) {
  
    .SponsorsSlide{
        padding-top: 80px;
        height: 100vh;
     }

    .SponsorsSlide-TextBox-Title{
        font-size: 26pt;
        font-weight: 500;
    }

    .SponsorsSlide-SponsorBox{
        display: flex;
        flex-direction: column;
        overflow: scroll;
        border: solid 10px aliceblue;
    }

    .card{
        margin: 20px;
        max-width: 90%;
        flex-grow: 1;
    }

}

/* Media Queries - End*/