.Footer{
    background-color: #ed038c;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Media Queries */
/* - Desktops */
@media (min-width: 1281px) {

    .Footer-Email {
        color: white;
        font-size: large;
    }

    .Footer-Links{
        display: flex;
        flex-direction: row;
    }

    .Footer{
        height: 10vh;
    }

    i{
        color: white;
        padding: 10px;
        font-size: 24pt;
    }

    i:hover{
        color: #ed038c;
        background-color: white;
        border-radius: 40px;
    }
    
}

/* - Laptops */
@media (min-width: 1025px) and (max-width: 1280px) {

    .Footer{
        height: 5vh;
    }

}

/* - Phones */
@media (min-width: 320px) and (max-width: 480px) {

    .Footer{
        height: 10vh;
        position: fixed;
        width: 100%;
    }

    .Footer-Email {
        color: white;
        font-size: large;
    }

    .Footer-Links{
        display: flex;
        flex-direction: row;
    }

    i{
        color: white;
        padding: 10px;
        font-size: 20pt;
    }

    i:hover{
        color: #ed038c;
        background-color: white;
        border-radius: 40px;
    }

}

/* Media Queries - End*/