
/* Navbar */
.navbar{
    background-color: white;
}

.navlogo{
    max-width: 20%;
    transition: all .8s;
}


.nav-link{
    color: #ed038c;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    margin: 2px;
    transition: all 0.2s;
}


/* - Navbar Toggle Icon */
.icon-bar {
	width: 22px; 
	height: 2px;
	background-color: #ed038c;
	display: block;
	transition: all 0.2s;
	margin-top: 4px
}
 
.navbar-toggler {
  border: none;
  background: transparent !important;
}

.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}
   
.navbar-toggler .middle-bar {
    opacity: 0;
}
   
.navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}
   
.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}
   
.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
}
   
.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}

/* Navbar - End */

/* Media Queries */
/* - Desktops */
@media (min-width: 1281px) {

    .navbar{
        height: 100px;
        transition: all 0.2s;
    }
    
    .navbar-small{
        height: 80px;
    }

    .navlogo:hover{
        background-color: #ed038c;
    }

    .nav-link{
        border-bottom: 2px white solid;
        border-top: 2px white solid;
    }

    .nav-link:hover{
        color:#4d4d4d;
        border-bottom: 2px solid;
        border-top: 2px solid;
    }  
      
    
}

/* - Laptops */
@media (min-width: 1025px) and (max-width: 1280px) {

    .navbar{
        height: 100px;
        transition: all 0.2s;
    }
    
    .navbar-small{
        height: 80px;
    }

    .navlogo:hover{
        background-color: #ed038c;
    }   

    .nav-link{
        border-bottom: 2px white solid;
        border-top: 2px white solid;
    }

    .nav-link:hover{
        color:#4d4d4d;
        border-bottom: 2px solid;
        border-top: 2px solid;
    }      

}

/* - Phones */
@media (min-width: 320px) and (max-width: 480px) {
  
    
}

/* Media Queries - End*/
